.best-books-carousel {
  max-width: 100%;
}

.carousel-item-custom {
  height: 100%;
}

.carousel-image {
  object-fit: cover;
}


.carousel-card {
  width: 80%;
}


.carousel-caption-custom {
  padding: 20px;
}

.carousel-caption-custom h3 {
  margin-bottom: 10px;
}

.carousel-caption-custom p {
  margin-bottom: 10px;
}
